version: "3.8"

services: 
  meetingtrakker_backend: 
    container_name: meetingtrakker_backend
    restart: always
    build:
      context: ..
      dockerfile: docker/Dockerfile
    image: meetingtrakker_backend:latest
    environment: 
      - APACHE_RUN_USER=www-data
      - APACHE_RUN_GROUP=www-data
    ports:
      - "8087:80"
      - "8088:443"
    volumes:
      - ../:/var/www/html
    command: >
      bash -c "composer install --optimize-autoloader &&
               mkdir -p /var/www/html/logs /var/www/html/tmp &&
               chown -R www-data:www-data /var/www/html/logs /var/www/html/tmp &&
               apache2-foreground"
    networks:
        - workmatica_network

networks:
  workmatica_network:
    name: workmatica_network
    driver: bridge 